.header-content {
  padding-top: 10.95rem;
  padding-bottom: 9.75rem;
  @include tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 10.3rem;
    padding-top: 13.875rem;
  }
}

.change-header {
  padding-top: 2rem;
  padding-bottom: 3rem;
  @include tablet {
    padding-bottom: 1.55rem;
  }
  @include desktop {
    padding-bottom: 1.7rem;
  }
}

.display-logo {
  @include tablet {
    flex-direction: row;
    margin: 0;
    padding-left: 13.3rem;
  }
  @include desktop {
    padding-left: 2rem;
  }
}

.change-display-logo {
  @include tablet {
    padding-left: 6.25rem;
  }
  @include desktop {
    padding-left: 2rem;
  }
}

.display-text {
  @include tablet {
    flex-direction: row;
    margin: 0;
    padding-left: 0.9375rem;
    padding-top: 4.375rem;
  }
  @include desktop {
    padding-left: 5.9375rem;
  }
}

.change-display-text {
  @include tablet {
    padding-left: 5.1875rem;
    padding-top: 0;
  }
}

.nyt-logo {
  height: 14.4rem;
  padding-bottom: 0.6rem;
  @include tablet {
    height: 14.375rem;
  }
}

.change-logo {
  height: 9.9375rem;
  @include tablet {
    height: 4.75rem;
  }
}

.header-content p {
  font-size: 0.8rem;
  padding-top: 0.1875rem;
  padding-bottom: 1rem;
  margin: 0;
  @include tablet {
    font-size: 0.9rem;
    padding-top: 0;
    padding-bottom: 1rem;
  }
  @include desktop {
    font-size: 1rem;
  }
}

select {
  padding: 0.125rem 0.5rem;
  font-size: 1rem;
  &:focus {
    outline: 0;
  }
}

.results {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    a {
      width: 50%;
      @include desktop {
        width: 25%;
      }
    }
  }
}

article {
  height: 26.25rem;
  position: relative;
  p {
    background-color: $results-background-color;
    line-height: 1.5;
    padding: 0.5rem 0.5rem;
    text-align: left;
    position: absolute;
    bottom: 0;
    margin: 0;
    color: $standard-color;
  }
}

footer {
  color: $footer-color;
  padding-top: 1.05rem;
  padding-bottom: 2.05rem;
  font-size: 0.9rem;
  @include desktop {
    text-align: left;
    padding-left: 2rem;
  }
}

.uppercase {
  text-transform: uppercase;
}
